* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

label {
    font-size: 1.5rem;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}